<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{- /*gotype: goTemplates.UsersPage*/ -}}
        {{.Title}}</title>
</head>
<body>
{{range .Users}}
    <div>{{.Name}}'s address is {{(index .Locations "Home").ZipCode}} {{(index .Locations "Home").Street}}</div>
{{else}}
    <div>No users found</div>
{{end}}
</body>
</html>
