<!DOCTYPE html>
<html lang="en">
{{/*
<!--To use code assistance in Go templates, ensure that this project folder is under GOROOT (for example,
    'go/src/myProject').-->
<!--Place the caret at the head tag and press Alt+Enter, select Add 'title'-->
<!--Inside the title tag, type {\{.}}-->
<!--Place the caret inside {\{.}} and press Alt+Enter, select Specify dot type-->
<!--In auto-completion popup, select goTemplates.UsersPage-->
<!--Inside {\{.}}, press Ctrl+Space and select Title-->
<!--You can use tpl_example.gohtml as a reference-->
*/}}
<head>
    <meta charset="UTF-8">

</head>
<body>

</body>
</html>